**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.DS_Store
.ansible
.azure/
.bash_history
.boto
.cache
*.code-workspace
.config
.gitconfig
.local
.netrc
*.plan
.sentinel
.ssh
.terrascan
.vscode
.idea
*authcode*
credentials.json
*init-cfg.txt*
*cred*
host_vars/*
.terraform.lock.hcl
