**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!example.tfvars
.DS_Store
.ansible
.azure/
.bash_history
.boto
.cache
*.code-workspace
.config
.gitconfig
.local
.netrc
*.plan
.sentinel
.ssh
.terrascan
.vscode
.idea
*authcode*
credentials.json
*init-cfg.txt*
*cred*
host_vars/*
*vars.yml
*terraform.lock.hcl
cert.*
twistcli
gcp.json
host_*.yml
inventory.txt
test.crt
python/__pycache__/netmiko.cpython-310.pyc
firewall.yml
exampleconfig.xml
auth*.json
ssh_private_key.pem
*.p12
