-i https://pypi.org/simple/
boto3
botocore
jmespath
pan-os-python
pan-python
python-dateutil
s3transfer
six
urllib3
xmltodict
requests
requests_toolbelt
ansible-lint
ansible-navigator
jsonschema<4.0.0,>=3.0.2
lxml
netaddr
